/* Estilos para el contenedor de usuarios */
#usersContainer {
    font-family: Arial, sans-serif;
    padding: 10px;
}

/* Estilo de cada contenedor de usuario */
.user-div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

/* Estilo para la imagen del usuario */
.user-img {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Contenedor de texto */
.text-container {
    display: inline-block;
    vertical-align: top;
}

/* Estilo para los párrafos */
.text-container p {
    margin: 2px 0; 
}
